# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Model outputs
results/*.keras

# Large datasets
data/*.csv

# Logs
*.log